.card {
    padding: 10px;
    position: relative;
    background-color: #343a40;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
}

.card h4 {
    padding-left: 60px;
    margin-bottom: 30px;
}

.card::before {
    position: absolute;
    left: 10px;
    top: -15px;
    font-size: 23px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

.card.card-calendar input {
    outline: none;
    background-color: transparent;
    color: #fff;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
}

.card.card-calendar::before {
    content: "\f271";
    font-family: "FontAwesome";
    background-color: #dc3545;
}

.card.card-calendar input {
    border: 0;
    border-bottom: 1px solid #fff;
    max-width: 100%;
}

.card.card-message::before {
    content: "\f0c5";
    font-family: "FontAwesome";
    background-color: #17a2b8;
}

.sales__statistics ul {
    list-style: decimal;
    padding-left: 30px;
}
